{{#partial "content"}}
    <div class="mt-2 mx-auto" id="banner">
        <h1 class="display-4 mx-auto">LatinX-Hack 2018</h1>
    </div>

    <section class="container">
        <section class="jumbotron text-center my-2">
            <div class="container">
                <h2>Register here!</h2>
                {{#if categories}}
                    <a href="/teams/new" class="btn btn-dark">Team</a>
                    <a href="/members/new" class="btn btn-warning">Team Member</a>
                {{else}}
                    <a href="/teams/new" class="btn btn-dark">Add Category</a>
                {{/if}}
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <h2 class="text-center">
                    Registered Teams <span class="badge badge-pill badge-info"># members</span>
                </h2>
                <div class="row">
                    {{#if teams}}
                        {{#each teams}}
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h4 class="card-text text-center">
                                            <a href="/teams/{{id}}">{{name}}</a> <span class="badge badge-pill badge-info">{{memberCount}}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
        <h3 class="mt-1 text-center">Attendees</h3>
        {{#if members}}
            <ul class="list-group">
                {{#each members }}
                    <li class="list-group-item">
                        <a href="/members/{{id}}">{{ name }}</a>
                        {{#if teamId }}
                            <span class="badge badge-pill badge-danger">Signed</span>
                        {{else}}
                            <span class="badge badge-pill badge-success">Free Agent</span>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <h3 class="mt-2">Be the first to register!</h3>
        {{/if}}
    </section>
{{/partial}}

{{> layout.hbs}}